<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Multilingual Editions</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<br>
<h2 class="text-center">Unique word list
    &nbsp; <button onclick="printPage()" class="btn btn-primary">Print or Save</button>
    <br><br>
    <br>
</h2>


<div class="container-fluid">
    <p th:utext ="${uniqueWordsString}" id="content"></p>


</div>


<script>
    function printPage() {
        window.print();
    }

    function downloadContent() {
        var content = document.getElementById('content').innerText;
        var blob = new Blob([content], { type: 'text/plain;charset=utf-8;' });
        var downloadLink = document.getElementById('downloadLink');
        var url = window.URL.createObjectURL(blob);
        downloadLink.href = url;
    }

    // Call the downloadContent function to set up the download link
    downloadContent();
</script>

</body>
</html>
